.elementor-365 .elementor-element.elementor-element-62919eb {--divider-border-style: solid;--divider-border-color: #fff;--divider-border-width: 2px;}
.elementor-365 .elementor-element.elementor-element-62919eb .elementor-divider-separator {width: 100%;}
.elementor-365 .elementor-element.elementor-element-62919eb .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-365 .elementor-element.elementor-element-4d5a490 .elementor-text-editor {text-align: left;}
@media (min-width:768px) {.elementor-365 .elementor-element.elementor-element-7a0c31b {width: 13.421%;}
	.elementor-365 .elementor-element.elementor-element-d0ed720 {width: 39.196%;}
	.elementor-365 .elementor-element.elementor-element-cf1c6ac {width: 47.222%;}}